/* Estilos generales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --white: #fafafb;
    --purple: #9a67ea;
    --blue-light: #04d4c3;
    --blue-dark: #2a73c2;
    --green: #2c7b90;
}

body {
    background: linear-gradient(to bottom, var(--purple), var(--blue-light));
    height: 100vh;
    font-family: 'Prompt', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    overflow-x: hidden;
}

/* Estilos de contenedor principal */
.container {
    width: 100%;
    max-width: 1000px;
    height: auto;
    margin: 20px auto;
    padding: 20px;
}

/* Perfil */
.perfil h1,
.perfil span {
    color: var(--white);
}

#fecha {
    color: var(--white);
    padding: 50px 0 5px 0;
}

/* Agregar tarea */
.agregar-tarea {
    background-color: var(--white);
    border-radius: 15px;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    gap: 15px;
}

.agregar-tarea input {
    flex: 1;
    border-radius: 8px;
    border: none;
    background-color: var(--white);
    padding: 10px;
}

.agregar-tarea i {
    font-size: 30px;
    color: var(--purple);
    cursor: pointer;
    padding: 8px border-radius 50%;
    transition: background-color 0.2;

}

.agregar-tarea i:hover {
    background-color: var(--blue-light);
}


/* Nueva pantalla de inicio de sesión */
.login-container {
    width: 100%;
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    text-align: center;
    background-color: var(--white);
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.login-container h1 {
    color: var(--purple);
    margin-bottom: 20px;
}

.login-container p {
    color: var(--blue-dark);
}

.login-container input,
.login-container button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid var(--blue-light);
}

.login-container button {
    background-color: var(--purple);
    color: var(--white);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;
}

.login-container button:hover {
    background-color: var(--blue-dark);
}

.hora {
    font-size: 0.9em;
    color: #888;
    margin-left: 8px;
    font-family: 'Arial', sans-serif;
    text-align: left;
    white-space: nowrap;
}

/* Estilos para las secciones de prioridad */
.seccion {
    margin: 15px 0;
}

.seccion h3 {
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

/* Contenedor de las secciones de tareas */
.tareas-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

/* Estilos de cada cuadro de tarea */
.seccion.tarea {
    width: 100%;
    min-width: 240px;
    max-width: 300px;
    padding: 15px;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    overflow-y: auto;
}

.seccion.tarea h3 {
    font-weight: bold;
    color: var(--purple);
    margin-bottom: 10px;
}

.lista-tareas {
    max-height: 180px;
    overflow-y: auto;
}

/* Estilo de cada tarea como etiqueta */
.lista-tareas li {
    background-color: var(--blue-light);
    color: var(--white);
    border-radius: 8px;
    padding: 5px 10px;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lista-tareas li i {
    font-size: 18px cursor pointer;
    transition: color 0.2s;
}

.lista-tareas li i:hover {
    color: var(--purple);
}

/* Contenedor de categorías */
.categorias {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    max-width: 1000px;
    padding: 20px 0;
    margin-top: 20px;
}

.categorias>div {
    width: 100%;
    max-width: 250px;
    background-color: var(--white);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}