#fecha {
    font-size: 32px;
    margin-bottom: 10px;
}

/* Perfil */
.perfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 20px 0;
}